<app-navigation-header></app-navigation-header>
<div class="main-div">
    <mat-card class="card">
        <mat-card-header class="botonLogin">
            <mat-card-title class="tipoletra">Cambiar contraseña</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formPass">
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña actual</mat-label>
                    <input matInput [type]="hideActual ? 'password' : 'text'" formControlName="actual">
                    <button mat-icon-button matSuffix (click)="hideActual = !hideActual" [attr.aria-label]="'Ocultar contraseña'"
                        [attr.aria-pressed]="hideActual">
                        <mat-icon>{{hideActual ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <ng-container *ngIf="formPass.controls.actual.errors != undefined">
                        <div class="errorValidacion" *ngIf="formPass.controls.actual.errors.required">Debe introducir algún valor
                        </div>
                    </ng-container>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput [type]="hideNueva ? 'password' : 'text'" formControlName="nueva">
                    <button mat-icon-button matSuffix (click)="hideNueva = !hideNueva" [attr.aria-label]="'Ocultar contraseña'"
                        [attr.aria-pressed]="hideNueva">
                        <mat-icon>{{hideNueva ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <ng-container *ngIf="formPass.controls.nueva.errors != undefined">
                        <div class="errorValidacion" *ngIf="formPass.controls.nueva.errors.required">Debe introducir algún valor
                        </div>
                    </ng-container>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="botonLogin mb-2">
            <button mat-raised-button color="primary" class="temaBtnLogin" [disabled]="formPass.invalid"  (click)="actualizarPassword()">Actualizar contraseña</button>
            <button mat-raised-button color="secondary" class="temaBtnLogin" (click)="cancelar()">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>

<app-footer></app-footer>