.divfondowelcome{
    width: 100%;
    
    
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.holaimagen{
    opacity: 0.5;
}
.tipoLetra{
    
    font-family: 'Playfair Display', serif;
    font-size: large;
}
.contenedorcardwelcome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrado{
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
}