.divfondowelcome {
  width: 100%;
}
.iconos {
  display: flex;
  justify-content: center;
}
.anchohr {
  width: 100%;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.holaimagen {
  opacity: 0.9;
  width: 100%;
}
.tipoLetra {
  font-family: "Playfair Display", serif;
  font-size: large;
}
.contenedorcardwelcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.tipoLetra {
  font-family: "Playfair Display", serif;
}

img.fondo {
  width: 100%;
}

.sombreado{
  filter: drop-shadow(5px 5px 10px #444);
}

#carouselExampleCaptions{
  width: 100%;
}
.carouselExampleCaptions{
  width: 100%;
}