
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- logo -->
    <a class="navbar-brand" href="contenido">
      <img src="../../assets/images/logoprincipal.jpg" width="70px;"  alt="">
    </a>
    
    <!-- enlaces -->
    <div class="collapse navbar-collapse mr-1 " id="opciones">   
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link tipoLetra" href="">Inicio</a>
          </li>
        <li class="nav-item">
          <a class="nav-link tipoLetra" href="">Foro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tipoLetra" href="">Multimedia</a>
        </li>          
      </ul>
    </div>
  
    <h6 class="tipoLetra mt-2 mr-2" style="color: #bfbfbf;">First Train - Entrenamiento Personal</h6>
  
  </nav>
  <!--Script JQuery para cerrar el menú-->
  <script>
  $('#opciones').collapse('hide');
  </script>