.tamanoCard {
  width: 60%;
}

::ng-deep .mat-ink-bar {
  background-color: var(--primary-color, #27a800) !important;
  width: 159px !important;
}

table {
  width: 100%;
}

.sombreado{
  filter: drop-shadow(5px 5px 10px #444);
}

th {
  background: linear-gradient(to bottom, #00912e, white 100%);
}

.colorLetraCabecera {
  color: black;
}
