.colorButtonDelete {
  color: red;
}

.colorButtonUpdate {
  color: #27a800;
}

.tipoLetra {
  font-family: "Playfair Display", serif;
  font-size: medium;
}

table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
.spacer {
  flex: 1 1 auto;
}
