.colorButtonDelete {
  color: red;
}

.colorButtonUpdate {
  color: #27a800;
}

.tipoLetra {
  font-family: "Playfair Display", serif;
  font-size: medium;
}

table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.sombreado{
  filter: drop-shadow(5px 5px 10px #444);
}

th {
  background: linear-gradient(to bottom, #00912e, white 100%);
}

.colorLetraCabecera {
  color: black;
}
