<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="#"><img class="ml-2" src="../../assets/images/logoprincipal.jpg" width="55px;"></a>
      <span class="tipoLetra ml-1">First-Train</span>
      <span class="example-spacer"></span>
      
      <ng-container>
        <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
          <mat-icon class="colorMenuButton">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >
            <mat-icon>account_circle</mat-icon>Modificar mis datos
          </button>
          <button mat-menu-item >
            <mat-icon>not_listed_location</mat-icon>
            <span>¿Quiénes somos?</span>
          </button>
          <button mat-menu-item >
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
  