.example-spacer{
    flex: 1 1 auto;
}

.colorMenuButton{

    color: #fff;
}

.mat-toolbar.mat-primary {
    background: #000000;
    color: #fff;
  }

span.tipoLetra{
    
    font-family: 'Playfair Display', serif;
    font-size: large;
}