
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- logo -->
  <a class="navbar-brand ml-2" href="#">
    <img src="../../assets/images/logoprincipal.jpg" width="70px;"  alt="">
  </a>
  <ng-container *ngIf="(usuarioAutenticado != undefined); else elseBlock">
    <!-- enlaces -->
    <div class="collapse navbar-collapse mr-1 " id="opciones">   
     <ul class="navbar-nav">
       <li class="nav-item">
         <a class="nav-link tipoLetra2" href="contenido">Reservar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tipoLetra2" href="contenido">MisReservas</a>
     </li>
       <li class="nav-item">
         <a class="nav-link tipoLetra2" href="">Foro</a>
       </li>
       <li class="nav-item">
         <a class="nav-link tipoLetra2" href="">Multimedia</a>
       </li>  
       <ng-container *ngIf="(usuarioAutenticado2 == 1)">
       <li class="nav-item">
        <a class="nav-link tipoLetra2" href="">Listado</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link tipoLetra2" href="">Gestión</a>
      </li>   
    </ng-container>        
     </ul>
   </div>
 </ng-container>
 
<ng-template #elseBlock>
    <div class="collapse navbar-collapse ml-2 mr-1 " id="opciones">   
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link tipoLetra" href="welcome">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tipoLetra" href="login">Log-in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tipoLetra" href="registro">Registro</a>
        </li>
                 
      </ul>
    </div>
</ng-template>

<ng-template #elseBlock2>
  <p class="tipoLetra mt-2 mr-2" style="color: #bfbfbf;">First Train - Entrenamiento Personal</p>
</ng-template>
<!--
  <h6 class="tipoLetra mt-2 mr-2" style="color: #bfbfbf;">First Train - Entrenamiento Personal</h6>
-->

 

  <ng-container>
    <ng-container *ngIf="(usuarioAutenticado != undefined); else elseBlock2">
      <span class="tipoLetra2"style="color: #bfbfbf;">Hola
        {{usuarioAutenticado}} {{usuarioAutenticado1}}</span>
    </ng-container>
    <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
      <!--<app-imagen-usuario [usuario]="usuarioAutenticado" [width]="50" [height]="50"></app-imagen-usuario>-->
      <mat-icon class="colorMenuButton">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>Modificar mis datos
      </button>
      <button mat-menu-item>
        <mat-icon>not_listed_location</mat-icon>
        <span>¿Quiénes somos?</span>
      </button>
      <button mat-menu-item (click)="abandonarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </ng-container>

</nav>
<!--Script JQuery para cerrar el menú-->
<script>
$('#opciones').collapse('hide');
</script>